@page
@model gestion_dossier_patient.Pages.Medecin.Index
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>
<a asp-page="./Create" class=" btn" style="background-color: #82e0aa;">
<i class="bi bi-plus-circle-dotted">
</i>
</a>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                
                
                <th>
                    Nom
                </th>
                <th>
                    Prenom
                </th>
                <th>
                    Sexe
                </th>
                <th>
                    Tel
                </th>

                <th>
                    Adresse
                </th>
                <th>
                    Email
                </th>
                <th>
                    Specialite
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.medecins)
            {
                ///prend tout les donnees dans medecins a chaque iteration ajoute les dans item
                <tr>
                    
                    
                    <td>
                        @item.Nom
                    </td>
                    <td>
                        @item.Prenom
                    </td>
                    <td>
                        @item.Sexe
                    </td>
                    <td>
                        @item.Tel
                    </td>

                    <td>
                        @item.Adresse
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Specialite
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-outline-primary"><i
                                class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.Id"><i
                                class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
