@page
@model gestion_dossier_patient.Pages_Consultations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consultation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.medecin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.medecin.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.patient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.patient.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Poids)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Poids)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Hauteur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Hauteur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Diagnostique)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Diagnostique)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Date_Consultation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Date_Consultation)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Consultation?.Id" class="btn btn-primary">
    <i class="bi bi-pencil-square"></i>
    </a> |
    <a asp-page="./Index" class="btn btn-primary">
    <i class="bi bi-arrow-return-left"></i>
    </a>
</div>
